page-login {

    .text-primary {
        color: color($colors, light);
      }

    .list-form {
        padding: 0;
        margin-bottom: 0;
        ion-item {
          background:none;
          padding: 0;

         .ilb {
            font-size: 1em;
            color: color($colors, light) !important;
          }

          input {
            color: color($colors, light);
          }
        }
      }

.errorBox{
        color : black;
        padding-top: 10px;
        padding-left: 10px;

    }
    .bg{
        background-image: url('../assets/imgs/bg.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100% ;

        
    }
}
