<ion-content padding class="bg">

  <div class="header padding text-center">
    <img class="img" src="assets/imgs/bus.png" />
  </div>

  <form class="list-form" [formGroup]="loginForm" (ngSubmit)="gotoprofile(loginForm.value)">
    <ion-item>
      <ion-label floating class="ilb">
        <ion-icon name="md-person" item-start class="text-primary"></ion-icon>
        User ID
      </ion-label>
      <ion-input type="number" name="username" id="username" formControlName="username" required></ion-input>
    </ion-item>

    <div class="errorBox" *ngIf="loginForm.controls['username'].hasError('required')  && loginForm.controls['username'].touched">*User
      ID Required.
    </div>
    <div class="errorBox" *ngIf="loginForm.controls['username'].hasError('pattern') && loginForm.controls['username'].touched">*User ID
      Is Required.
    </div>
    <div class="errorBox" *ngIf="loginForm.controls['username'].hasError('minlength') || loginForm.controls['username'].hasError('maxlength')  && loginForm.controls['username'].touched">
      *Enter Valid ID.
    </div>

    <ion-item>
      <ion-label floating class="ilb">
        <ion-icon name="lock" item-start class="text-primary"></ion-icon>
        Password
      </ion-label>
      <ion-input type="text" name="password" id="password" formControlName="password" required></ion-input>
    </ion-item>

    <div class="errorBox" *ngIf="loginForm.controls['password'].hasError('required')  && loginForm.controls['password'].touched">*Password
      Is Required
    </div>

    <div class="errorBox" *ngIf="loginForm.controls['password'].hasError('pattern') || loginForm.controls['password'].hasError('maxlength')  && loginForm.controls['password'].touched">*Enter
      dob in the yyyy mm dd format
    </div>

    <div text-right margin-top>
      <span ion-text color="light" tappable (click)="register()"> <strong>Forgot Password?</strong></span>
    </div>

    <br><br>

    <button ion-button icon-start round block color="danger" [disabled]="!loginForm.valid">
      <ion-icon name="log-in"></ion-icon>SIGN IN
    </button>
  </form>

  <div text-center margin-top>
    <span ion-text color="light" tappable (click)="register()">New here? <strong>Sign up</strong></span>
  </div>



</ion-content>