.routes{
    color: #0083ff;
    font-weight: bolder;
    //list-style-type: disc;
    
    font-size: 20px;   
    text-align: justify;
   // margin-left: -20px;
     
}
ion-card-header{
    text-align: center;
}
button{
    text-align: center;
}

ion-card-header{
    
    text-align: center;
    margin-top: -12px;
    margin-bottom: -12px;
    background: linear-gradient(0.50turn, #0083ff , #fdfffb  );
    font-weight: bolder;
}

.buscard{

   // background: linear-gradient(0.40turn, #c2d8e7 , #fdfffb ,#bbd2e2 );
   background: transparent;
   

    img{
        height: 150px;;
    }
    h2{
        text-align: center;
        
    }
}