.cardTitle {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #000;
  }

.routes{
    color: #0083ff;
    font-weight: bolder;   
    font-size: 20px;   
    text-align: justify;    
}
ion-card-header{
    text-align: center;
}
button{
    text-align: center;
}

.buscard{

   // background: linear-gradient(0.40turn, #c2d8e7 , #fdfffb ,#bbd2e2 );
   background: transparent;
   

    img{
        height: 210px;;
    }
    h2{
        text-align: center;
        
    }
}