<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Locate Bus</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="contentbg">

  <ion-card *ngFor="let bus of buses; let i=index" no-padding class="buscard">
    <ion-card-header>
      <ion-icon name="bus" item-start></ion-icon>
      Bus Number: {{ bus?.bus_no }}

    </ion-card-header>
    <img class="bus" src="assets/imgs/bus.jpg" alt="bus">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button color="dark" block outline (click)="showroute(i)">{{hideMe === i? button :"Show Route" }}
          </button>
        </ion-col>
        <ion-col>
          <button ion-button block outline color="dark">Live Track</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="hideMe == i  && On === true">
     
      
        <ion-label class="routes" text-wrap padding> {{bus.stops.names.split(';').join(" --> ")}} </ion-label>
          
      
    </div>

    <!-- <div *ngIf="hideMe">
      <div style=" border:solid #000 1px; height:500px;">
          <p *ngFor="let stop of bus?.stops;">
            <label>Route</label><br>
            {{ stop[0] }}
            </p>
       
      </div><br> -->
      <!-- {{stops.split(';',20)}}<br> -->
  </ion-card>
   







</ion-content>