
.span
{
    text-align: right;
}

#map{
    height: 500px;
}
.foo{
    height: 55px;
    text-align: center;
    background-color: #dedede;
    font-size: large;
    padding-top: 12px;
    }
    
   