
.span
{
    text-align: right;
}

#map{
    height: 500px;
}
.foo{
    height: 50px;
    text-align: center;
    background-color: #dedede;
    font-size: large;
    padding-top: 12px;
    }
    
    // #appcolor {
    //     // background-image: url('../assets/imgs/tool.jpg');
    //     // background-repeat: no-repeat;
    //     // background-position: center;
    //     // background-size: 100% 100% ;
    //    background: linear-gradient(0.40turn, #0993f0 , #2b45d8 );
       
    //     }
        