//  .username{
//   text-align: center;
//   font-family: Operator;
//   display: inline;
//  }
//  #username-value{
//   color:#00b1b3; 
//   font-size: 18px;
//   margin-bottom: .1em;
//   display: inline-block;
//  }

.pcard{
   background: transparent;
   margin: auto;
   text-align: left;
line-height: 20px;
   

   label{
    font-weight: bolder;
    font-size: 15px;
    text-shadow: 2em;
}

    ion-grid{

    }
   ion-label{
       //text-align: end;
      // float: right;
   }
  background: linear-gradient(0.40turn, #c2d8e7 , #fdfffb ,#bbd2e2 );
   // background-image: url("../assets/imgs/card.jpg");


}

 .profilebg{
  background-image: url(/assets/imgs/02.jpg);
  background-repeat: no-repeat;
  background-image: center;
  height: 130px;
  background-size: 100% 100%;
 }
 .image {
  height: 30vw; 
  width: 30vw; 
 border: 1px solid #fff;
 border-radius: 50%;
 //display: inline-block;
 margin-left: auto;
// display: block;
 margin-top: -50px;
 margin-right: auto;
 //align-content: center;
}

.user{
    text-align: center;
    margin-top: 0px;
    background: transparent;
    font-weight: bolder;
    font-size: 17px;
   
    color: rgb(4, 132, 236);
}
 