<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Breakdown</ion-title>
    <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="notifications"></ion-icon>
        <span *ngIf="this.notificationSrv.ncounter !== 0">
          <ion-badge id="cart-badge" color="danger"> {{ this.notificationSrv.ncounter }}</ion-badge>
        </span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-card no-padding class="pcard">
    <ion-card-content>
      <ion-list class="list">
        <ion-item>
          <label>Breakdown Type:</label>
          <h2>{{ message?.type }}</h2>
        </ion-item>
        <ion-item>
          <label>Breakdown Time:</label>
          <h2>{{ message?.time }}</h2>
        </ion-item>
      </ion-list>
      <form class="list-form" [formGroup]="loginForm" (ngSubmit)="sendbreakdownwithmsg(loginForm.value)">
        <ion-item>
          <ion-textarea rows='20' placeholder="Enter Message" name="message" id="message" formControlName="message" required></ion-textarea>
        </ion-item>
        <div class="errorBox" *ngIf="loginForm.controls['message'].hasError('required')  && loginForm.controls['message'].touched">*Message
          can't be empty
        </div>
        <button ion-button icon-start round block color="danger" [disabled]="!loginForm.valid">
          <ion-icon name="send"></ion-icon>Send
        </button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>