<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Route</ion-title>
    <ion-buttons end>
      <button id="cart-btn" ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="notifications"></ion-icon>
        <span *ngIf="this.notificationSrv.ncounter !== 0">
          <ion-badge id="cart-badge" color="danger"> {{ this.notificationSrv.ncounter }}</ion-badge>
        </span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="contentbg">
  <ion-card>
    <ion-card-header>
      <ion-icon name="compass"></ion-icon>Route Plan
    </ion-card-header>
    <ion-card-content *ngFor="let name of names ; let y=index let last=last" no-padding>
      <ion-item style="background: linear-gradient(0.40turn, #c2d8e7 , #fdfffb ,#bbd2e2 );">
        <label>
          <ion-icon name="md-person"></ion-icon> {{ name}}
        </label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>