page-mybus {
ion-fab{
    margin-right: 10px;
    margin-top: 10px;
}


    #map{
        height: 70%;
    }

.buscard{

   background: transparent;
    img{
        height: 210px;;
    }
    h2{
        text-align: center;
        
    }
    h1{
        text-align: center;
    }
}

ion-card-header{
    
    text-align: center;
    font-weight: bolder;
}

 .thumb{
    
    width: 120px;
    height: 120px;
   
}
.lista h2{
float: left;
font-weight: bolder;
margin: auto;
}

.lista ion-item{
    background: transparent !important;
}
}
 