// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content {
    overflow-y: auto;
}


.toolbar-background {
    // background-image: url('../assets/imgs/tool.jpg');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: 100% 100% ;
    background: linear-gradient(0.40turn, #0993f0 , #2b45d8 );
    }
    
    
    // .pageDrawer {
    
    //     width: 100%;
    //     height: 40%;
    //    background-color: #0993f0;
    // }
    
    
    

    // .contentbg{
    //     background-image: url('../assets/imgs/bga.jpg');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: 100% 100% ;

    // }
//     .mytoast{
//         $toast-md-background	: black;
// }
// .mytoasts{
//     $toast-md-background	: red;
// }
.success.toast-md {
    .toast-wrapper.toast-top  {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 10;
        display: block;
        margin: auto;
       // width: 50%;
        max-width: 700px;
       // border-radius: 30px;
        background: #333333;
        
    }
}
.error.toast-md {
    .toast-wrapper.toast-top  {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 10;
        display: block;
        margin: auto;
        //width: 50%;
        max-width: 700px;
        //border-radius: 0px;
        background: #b73838;
    }
}
.toast-md .toast-message {
    padding: 19px 16px 17px;
    font-size: 1.5rem;
    /* color: #fff; */
    text-align: center;
}


modal-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  @media not all and (min-height: 600px) and (min-width: 768px) {
    ion-modal ion-backdrop {
      visibility: hidden;
    }
  }
  
  @media only screen and (min-height: 0px) and (min-width: 0px) {
    .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }
  #cart-btn {
    position: relative;
    right:10px;
 }
 
 #cart-badge {
   position: absolute;
    border-radius: 100%;
    //top: px;
   // right: 10px;
    bottom: 19px;
    left:17px;
 }
 