<ion-header>
  <ion-navbar>
    <ion-title>
      {{ pagetitle }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="onRegister(form.value)">
    <ion-list>
      <ion-item>
        <ion-input ng-class="{highlight: form.fname.$error.required}" name="fname" type="text" id="fname" placeholder="First Name"
          required formControlName="fname"></ion-input>
      </ion-item>
      <div class="errorBox" *ngIf="form.controls['fname'].hasError('required')  && form.controls['fname'].touched">
        *First Name is required.
      </div>
      <!--div class="errorBox" *ngIf="form.controls['fname'].hasError('minLength') && form.controls['fname'].touched">*Name must be more then 2 charcters atleast.
              </div-->
      <div class="errorBox" *ngIf="form.controls['fname'].hasError('pattern') && form.controls['fname'].touched">*First
        Name must conatin at least 2 characters.
      </div>


      <ion-item>
        <ion-input name="lname" type="text" placeholder="Last Name" required formControlName="lname"></ion-input>
      </ion-item>
      <div class="errorBox" *ngIf="form.controls['lname'].hasError('required') &&form.controls['lname'].touched"> *Last
        Name is required.
      </div>
      <!--div class="errorBox" *ngIf="form.controls['fname'].hasError('minLength') && form.controls['fname'].touched">*Name must be more then 2 charcters atleast.
              </div-->
      <div class="errorBox" *ngIf="form.controls['lname'].hasError('pattern') && form.controls['lname'].touched">*Last
        Name must conatin at least 2 characters.
      </div>

      <ion-item>
        <ion-input type="text" placeholder="Username" required formControlName="uname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" placeholder="Email" required formControlName="email"></ion-input>
      </ion-item>
      <div class="errorBox" *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched">*Email
        id is required.
      </div>
      <div class="errorBox" *ngIf="form.controls['email'].hasError('pattern') && form.controls['email'].touched">*Enter
        valid email.
      </div>

      <ion-item>
        <ion-input type="number" placeholder="Mobile no" required formControlName="mob"></ion-input>
      </ion-item>
      <div class="errorBox" *ngIf="form.controls['mob'].hasError('required')  && form.controls['mob'].touched">*Mobile
        No. is required.
      </div>
      <div class="errorBox" *ngIf="form.controls['mob'].hasError('minlength') || form.controls['mob'].hasError('maxlength')  && form.controls['mob'].touched">
        *Enter valid Mobile No.
      </div>

      <ion-item>
        <ion-input type="password" placeholder="Password" required formControlName="pass"></ion-input>
      </ion-item>
      <div class="errorBox" *ngIf="form.controls['pass'].hasError('required')  && form.controls['pass'].touched">*Mobile
        No. is required.
      </div>
      <div class="errorBox" *ngIf="form.controls['pass'].hasError('minlength') || form.controls['pass'].hasError('maxlength')  && form.controls['pass'].touched">
        *password must contain 8 characters
      </div>



      <ion-item>
        <ion-input type="password" placeholder="Retype Password" required formControlName="pass"></ion-input>

      </ion-item>
      <button ion-button block color="dark" type="submit" [disabled]="!form.valid" round>Next</button>
    </ion-list>
  </form>

</ion-content>