
.user-profile {

  height: 170px;
 

  .user-avatar {
    width: 90px;
    height: 90px;
    margin-top: 10px;
   margin-left: 33%;
   margin-right: 33%;
    border-radius: 50%;
    box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
    img {
      border-radius: 50%;
    }
  }}

    ion-header{ h2{
      text-align: center;
    }}

 
ion-menu{
  width: 100% !important;
  
  
}

ion-button{
  padding: 0%;
}

.activehighlight{
  //  background-color:  #268fe6;
  background: linear-gradient(to bottom, #e4e0e0 70%, #ffffff );
  color: #268fe6;
}
.scroll-content {
    overflow-y: auto;
  }
  .alert-message{
    overflow-y: auto;
  }
